.btn {
  background-color: #b4b4b4;
  color: rgb(0, 0, 0);
  width: 95%;
  font-size: 1rem;
  border: none;
  cursor: pointer;

  margin: 0px auto 1px auto;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.btn:hover {
  background-color: #d4d4d4;
}

.btn.active:hover {
  background-color: #d4d4d4;
}

.btn.active {
  background-color: #696969;
}

