.btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.btn:hover {
  background-color: #00f867;
}

.btn.active {
  background-color: #00ddfa;
}