/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    border-radius: 6px;
    background-color: antiquewhite;
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip.active .tooltiptext {
    visibility: visible;
}

.tooltiptext.top {
    bottom: 100%;
    left: 50%;
}

.tooltiptext.right {
    top: -5px;
    left: 105%;
}

.tooltiptext.bottom {
    top: 100%;
    left: 50%;
}

.tooltiptext.left {
    top: -5px;
    right: 105%;
}

.tooltipArrow {
    content: " ";
    position: absolute;
    border-width: 5px;
    border-style: solid;
}

.tooltiptext.top .tooltipArrow {
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-color: black transparent transparent transparent;
}

.tooltiptext.right .tooltipArrow {
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-color: transparent black transparent transparent;
}

.tooltiptext.bottom .tooltipArrow {
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-color: transparent transparent black transparent;
}

.tooltiptext.left .tooltipArrow {
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-color: transparent transparent transparent black;
}






/*--- LEGEND POPOVER ---*/

/*--- LEGEND POPOVER ---*/

.popover.legend{
    direction: rtl;
    max-width: 100% !important;
}

.popover.legend > *{
    direction: ltr;
}

.col.legend{
    max-width: 100%;
    white-space: nowrap;
}

.Legend-subTittle {
    margin: 5px auto 0px auto;
    padding-bottom: 5px;
}

/*--- LEGEND BUTTONS ---*/

/*Base button size*/
.legend.btn {
    display: flex;
    margin: 0px auto 1px auto;
    width: 95%;
    height: 35px;
    background: transparent;
}

.legend.btn:focus {
    box-shadow: none;
}

.legend.btn:hover {
    background: rgb(240, 240, 240);
    box-shadow: none;
}

/*Default style*/
.legend.btn {
    color: #0d6efd;
}

.legend.btn:hover {
    color: #002966;
}

/*When button is clicked*/
.legend.btn.active {
    color: #979797;
}

.legend.btn.active:hover {
    color: #353535;
}

/*--- LEGEND VALUES ---*/
.col-6.dimension {
    display: flex;
} 

.container.legend{
    margin:auto;
    padding: 0px;
}


/*--- LEGEND DIMENSIONS HTML ---*/
/* box shape with border color*/
.box {
    float: left;
    height: 20px;
    width: 20px;
    margin: auto;
    border: 1px solid black;
    clear: both;
}

/* Background color */
.legend.btn.active>.container.legend>.row>.col-3>.LegendColor {
    opacity: 25%;
}

/* Border color */
.legend.btn.active>.container.legend>.row>.col-3>.LegendBorder {
    opacity: 25%;
}

/*Parent shape*/
.LegendShape {
    width: 20px;
    height: 20px;
    background: rgb(0, 0, 0);
}

/*All available shapes*/
.triangle {
    --path: 50% 0, 100% 100%, 0 100%;
    /*Second number is the height, starting with 0 at the top of the div*/
    clip-path: polygon(var(--path));
}

.diamond {
    --path: 50% 0, 0% 50%, 50% 100%, 100% 50%;
    clip-path: polygon(var(--path));
}

.dot {
    border-radius: 50%;
}

.star {
    --path: 50% 5%, 61% 40%, 98% 40%, 68% 62%, 79% 96%, 50% 75%, 21% 96%, 32% 62%, 2% 40%, 39% 40%;
    clip-path: polygon(var(--path));
}

.triangleDown {
    --path: 0% 0%, 50% 100%, 100% 0%;
    clip-path: polygon(var(--path));
}

.hexagon{
    --path: 25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%;
    clip-path: polygon(var(--path));
}

.legend.btn.active>.container.legend>.row>.col-3>.LegendShape {
    opacity: 35%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}