.btn {
  cursor: pointer;
  border: none;
}


.btn.active{
  background-color: aqua;
}

.btn.loading{
  background-color: rgb(255, 0, 0);
}


.btn.disabled{
  background-color: rgb(208, 255, 0);
}

.btn.disabled:hover{
  background-color: rgb(208, 255, 0);
}


