.datatable {
    margin: 0px 1.5% 15px 1.5%;
    padding: 0px 1.5% 5px 1.5%;

    border: black;
    border-style: inset;
    border-radius: 10px;
    border-width: 2px;
}

.datatable>h2 {
    margin: 0px;
    padding: 1% 0px;
    text-align: center;
    border-bottom: 2px black inset;
}

.dataColumn>h1 {
    font-size: x-large;
}

.main-row:not(:last-child){
    border-bottom: 2px black inset;
}

.sub-row:not(:last-child){
    border-bottom: 1px white inset;
}

.datatable-content>*{
    margin: 1%
}
