.interaction {
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}

.artwork-data{
    max-height: 200vh;
}

.author{
    font-size: 80%;
}

.feelings {
    width: 80%;
    margin: 15px auto;
    border-style: dotted;
    box-sizing: border-box;
    text-align: center;
}

.emotions{
    overflow-wrap: anywhere;
}
img {
    max-height: 100%;
    max-width: 100%;
    border-style: solid;
    border-width: 2px;
}