/* 
unactive,
activeSingle,
activeBoth,
activeBig,
collapsed, 
*/
:root {
    --network-height: 80vh;
}

/* Container of both perspectives */
.perspectives-containers {
    display: flex;

    margin-bottom: 5vh;
    padding-bottom: 1vh;
    border-bottom: 1.5px black dotted;
}

/* Fixed height for all perspectives */
.perspectives-containers>* {
    height: var(--network-height);
}

/* The second perspective has its dataTable fliped horizontaly*/
.perspectives-containers>*:last-child>.row {
    flex-direction: row-reverse;
}

/* PERSPECTIVE STATES */
/*This perspective is not active and viewable*/
.perspectives-containers>.unactive {
    width: 0%;
}

/*Only one perspective is active and viewable*/
.perspectives-containers>.activeSingle {
    width: 100%;
}

/*Both perspectives are active and viewable*/
.perspectives-containers>.activeBoth {
    width: 50%;
}

/*This perspective is bigger because the other one is collapsed*/
.perspectives-containers>.activeBig {
    width: 80%;
}

/*This perspective is the collapsed one*/
.perspectives-containers>.collapsed {
    width: 20%;
}

/* This changes the container of the vis.js network */
.network-container {
    margin: 0px 1.5% 15px 1.5%;
    height: var(--network-height);
}

.vis-network>canvas {
    border-style: dotted;
    box-sizing: border-box;
}
