/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    border-radius: 6px;
    background-color: rgb(255, 239, 204);
    position: absolute;
    z-index: 1;
}

.tooltiptext{
    padding: 0.5rem 0.5rem;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip.active .tooltiptext {
    visibility: visible;
}

.tooltiptext.top {
    bottom: 100%;
    left: 50%;
}

.tooltiptext.right {
    top: -5px;
    left: 105%;
}

.tooltiptext.bottom {
    top: 100%;
    left: 50%;
}

.tooltiptext.left {
    top: -5px;
    right: 105%;
}

.tooltipArrow {
    content: " ";
    position: absolute;
    border-width: 5px;
    border-style: solid;
}

.tooltiptext.top .tooltipArrow {
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-color: black transparent transparent transparent;
}

.tooltiptext.right .tooltipArrow {
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-color: transparent black transparent transparent;
}

.tooltiptext.bottom .tooltipArrow {
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-color: transparent transparent black transparent;
}

.tooltiptext.left .tooltipArrow {
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-color: transparent transparent transparent black;
}






